@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  background-color: #FCFBF9;
}

h1 {
/*  unicode-bidi: bidi-override;
  direction: rtl;
*/ 
  font-size: 3em;
  margin-bottom: 0.4em;
  color: #111;
  letter-spacing: 0.05em;
  font-weight: 300;
}

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot');
  src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*="icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e600";
}
.icon-twitter:before {
  content: "\e601";
}
.icon-github:before {
  content: "\e602";
}
.icon-linkedin:before {
  content: "\e603";
}
.icon-google-plus:before {
  content: "\e604";
}
.icon-ghost:before {
  content: "\e01d";
}

.social-links {
  list-style-type: none;
  padding: 0;
}

.social-links li {
  display: inline-block;
  margin-right: 1em;
}

.social-links a {
  text-decoration: none;
  color: #555;
}

.social-links [class*="icon-"] {
  font-size: 1.8em;
  padding: 0.4em;
  background-color: #F3EFEC;
  border-radius: 0.2em;
}

.social-links .label {
  display: none;
}

.social-links a:hover [class*="icon-"] {
  color: white;
}

a:hover .icon-facebook {
  background-color: #3b5998;
}

a:hover .icon-twitter {
  background-color: #22ABF3;
}

a:hover .icon-github {
  background-color: #F9F9F9;
  color: black !important;
}

a:hover .icon-google-plus {
  background-color: #D84D32;
}

a:hover .icon-linkedin {
  background-color: #1575B9;
}

a:hover .icon-ghost {
  background-color: #242628;
  color: #9EACAD;
}

#content {
  width: 512px;
  margin: auto;
  padding-top: 5%;
}

@media (max-width: 640px) { 
  #content {
    width: auto;
    padding-top: 0;
  }

  .social-links li {
    display: block;
    margin-bottom: 2em;
  }

  .social-links .label {
    display: inline;
    font-size: 1.6em;
    padding-left: 0.4em;
  }

  .social-links  [class*="icon-"] {
    color: white;
  }

  .icon-facebook {
    background-color: #3b5998 !important;
  }

   .icon-twitter {
    background-color: #22ABF3 !important;
  }

   .icon-github {
    background-color: #F9F9F9 !important;
    color: black !important;
  }

   .icon-google-plus {
    background-color: #D84D32 !important;
  }

   .icon-linkedin {
    background-color: #1575B9 !important;
  }

   .icon-ghost {
    background-color: #242628 !important;
    color: #9EACAD !important;
  }
}